/* =================================================================
    Main
   ================================================================= */
/* Main UI column (100 vertical height) */
#main-column {
    height: 85vh;             /* Full viewport height */
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin: 0 auto;          
    width: 100%;        
    justify-content: center;   
    align-items: center;     
}

/* Resize chatbot height, remove border and background */
#gr-chatbot {
    flex: 1 1 auto;
    min-height: 0;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    background-color: transparent !important;
}

/* Hide chatbot's default clear button */
#gr-chatbot .top-panel {
    display: none !important;
}

/* Transparent background (ChatGPT style)*/
#gr-chatbot .bot, .bubble-wrap {
    border: none !important;
    box-shadow: none !important;
    background: none !important;
    background-color: transparent !important;
}

/* Limit width of conversation (ChatGPT style)*/
.message-wrap {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Widgets not supposed to be shrinked */
#no-shrink {
    max-width: 800px;
    flex-shrink: 0;
}

/* Hide Gradio's footer */
footer {
    display: none !important;
}


/* =================================================================
    Sidebar
   ================================================================= */
/* Chat selector label 100% wide */
#chat-selector label {
    display: block;
    width: 100%;
    margin-bottom: 4px;
}

/* Delete button confirmation dialog */
#del-button-dialog {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 5em;
}

